@import '~bootstrap/scss/bootstrap';
@import 'lib/font-awesome/sass/font-awesome';

@import 'definitions';

body {
  font-family: $font-normal;
  font-size:14px;
  background-color: $bg1;
  color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
  color:$h1Color;
  padding:0 0 0 0;
  margin: 0 0 0 0;
}

h1 { 
  font-size:3rem;
  color:$h1Color;
}

h4 {
  color: $h4Color;
  text-shadow:#000000 3px 2px 2px;
  letter-spacing:0.1em;
  font-size:2rem;
  text-align: center;
}

.app {
  position:relative;

  footer {
    height:12em;
    text-align: center;
  }

  .content {
    //padding-top:4.5em;
  }
}

@import 'common';
@import 'header';
@import 'longpage';
