// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'lib/font-awesome/sass/font-awesome';

@import 'definitions';

body {
  font-family: $font-normal;
  font-size:14px;
  background-color: $bg1;
  color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
  color:white;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  color:$fg3;
}

h1 { 
  font-size:3rem;
}



.app {
  position:relative;

  footer {
    height:12em;
    text-align: center;
  }

  .content {
    //padding-top:4.5em;
  }
}

@import 'common';
@import 'header';
@import 'grid';
@import 'longpage';
