.app header {
  
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &.invisible { opacity: 0; }
  &.visible { opacity: 0.9; }
  @include transition(opacity .5s ease-in-out);
  
  section{
    background-color: $bg1;
    h1 {
      text-align: center;
      padding:0.4em;
      @include media-breakpoint-up(xs) { 
          font-size:1.5rem;
      }
      @include media-breakpoint-up(sm) { 
          font-size:1.5rem;
      }
      @include media-breakpoint-up(md) { 
          font-size:1.5rem;
      }
      @include media-breakpoint-up(lg) { 
          font-size:2rem;
      }
    }
    h2 {
      text-align: center;
      font-size: 1.5rem;
      font-family: $font-light;
      font-weight: bold;
      color:$fg1;
      padding-bottom: 0.2rem;
    }
    .hamburger-icon {
      font-size: 2rem;
      margin-left: 0.6rem;
      float:left;
      color: $navMenuFg;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  nav {
    z-index: 100;
    background-color: $navMenuBg;

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        text-align: left;
        font-size: 1.5rem;
        padding:0.5rem;
        border-bottom: 1px solid $borderLineColor;
        a, a:active, a:visited, a:hover {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        margin: 0 1rem;
        cursor:pointer;
        color: $navMenuFg;
    }

    @include media-breakpoint-up(xs) { 
      @include transition(opacity .5s ease-in-out);
      &.invisible { opacity: 0; }
      &.visible { opacity: 1; }
      &.absent { display: none; }
      &.present { display: block; }

     
      li {
          border-bottom: 1px solid $borderLineColor;
          margin: 0 1rem;
      }
    }
    @include media-breakpoint-up(lg) { 
      @include transition(opacity .5s ease-in-out);
      &.invisible { opacity: 1; }
      &.visible { opacity: 1; }
      &.absent { display: block; }
      &.present { display: block; }
      ul {
          border-bottom: 1px solid $borderLineColor;
          text-align:center;
      }
      li {
          border-bottom: 0px solid $borderLineColor;
          margin: 0 1rem;
          display: inline;
          font-size: 1.2rem;
      }
    }
  }

  @include media-breakpoint-up(lg) { 
    &.invisible {
      nav.invisible  {
        opacity:0;
        display:none;
      }
    }
  }
}
