.long-page {

    .pagelet {
        min-height: 100vh;
        height: auto;
        box-sizing: border-box;
        padding-bottom: 2rem;

        figure, p {
            padding:0 0 0 0;
            margin:0 0 0 0;
        }

        h4 {
            font-size: 2rem;
            font-family: $font-light;
            color:white;
            text-shadow:#000000 3px 2px 2px;
            letter-spacing:0.1em;
            text-align: center;
            padding: 2.5rem 0 1rem;
        }

        .title {
            height:20vh;
        }

        .statement {
            @include border-radius(2rem);
            text-align: center;
            color: white;
            font-size:1rem;
            p { padding: 2em; }
        }

        .bulletbox {
            
            h5 {
                font-family: $font-light;
                font-size: 2rem;
                color: $fg2;
                padding:0 1em;
                // margin:0.5rem;
            }
            p { color:$bg1; }

            .bullets { padding: 2rem; }

        }

        &.home {
            background-color:$bg3;            

            h3 {
                font-family: $font-light;
                font-size:2rem;
                font-weight:600;
                text-shadow:#000000 2px 4px 4px;
                letter-spacing:0.2rem;
                text-align: center;
                margin-top: 1em;
            }

            .banner {
                height:50vh;
                background-size: cover !important;
                background: url(../images/agriculture.jpg) no-repeat bottom center;
                @include media-breakpoint-up(sm) { 
                    font-size:1rem;
                }
                @include media-breakpoint-up(md) { 
                    font-size:2rem;
                }
            }

            .statement {
                height:50vh;
                font-size:2rem;
                
                @include media-breakpoint-up(xs) { 
                    font-size:1rem;
                }
                @include media-breakpoint-up(sm) { 
                    font-size:1.5rem;
                }
                @include media-breakpoint-up(md) { 
                    font-size:1.5rem;
                }
                @include media-breakpoint-up(lg) { 
                    font-size:2rem;
                }
                @include media-breakpoint-up(xl) { 
                    font-size:2.5rem;
                }
            }
        }

        &.what-we-do {
            background-color:bg1;

            .bulletbox {
                h5 {}
                li {
                    color:$fg3;
                    list-style: none;
                }
                .figure {
                    p {
                        padding:0 1rem;
                        color:$fg1;
                    }
                    .thumb {
                        @include border-radius(50%);
                        float:left;
                        padding:1rem;
                        height:13em;
                        @include media-breakpoint-up(md) { 
                            float:none;
                        }
                    }
                }
            }
        }

        &.who-we-are {
            background-color:white;
            padding-bottom: 1rem;

            h4 { color:$bg1; }

            .statement { color: $bg1; }
            .bulletbox {
                h5 { color: $bg3; }

                .founder { width:70%; }
                .figure {
                    p { padding:0 1em; }
                    .thumb { width:70%; }
                }
            }
        }

        &.why-we-do-it {
            background-color:$bg3;

            .bulletbox {
                p { color:white; }

                .figure p { padding:0 2rem; }
            }
        }

        &.who-we-do-it-for {
            background-color:bg1;

            .bulletbox {
                h5 { }

                .figure {
                    p {
                        padding:0 1rem;
                        color:$fg1;
                    }
                    .thumb {
                        @include border-radius(50%);
                        float:left;
                        padding:1rem;
                        height:16rem;
                    }
                }
            }
        }

        &.contact {
            background-color: $bg2;

            .statement{ text-align: left; }
            a, a:visited, a:active { color:white; }
            address { margin-top: 3rem; }
            .bulletbox {
                h5 { padding: 1rem 0 0 1rem; }
                p { color:white; }
                .figure p { padding:2rem; }
            }
        }
    }
}

